In [1]:
# 6.5.2
# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.
from config import g_key
%matplotlib inline
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Ushuaia,AR,2022-10-05 01:06:45,-54.8000,-68.3000,44.26,81,75,12.66
1,1,Punta Arenas,CL,2022-10-05 01:06:45,-53.1500,-70.9167,44.71,76,75,8.05
2,2,Butaritari,KI,2022-10-05 01:06:46,3.0707,172.7902,81.88,75,30,18.14
3,3,Caravelas,BR,2022-10-05 01:06:46,-17.7125,-39.2481,75.58,77,96,11.79
4,4,Vaini,TO,2022-10-05 01:06:46,-21.2000,-175.2000,77.32,76,100,3.74

In [2]:
# Get the data types
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [3]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [4]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
# Assign the figure variable.
fig = gmaps.figure()
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp])
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [8]:
# 6.5.2
# adding center and zoom parameters
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)

#modify heat_layer
heat_layer = gmaps.heatmap_layer(
    locations,
    weights=[max(temp, 0) for temp in max_temp],
    dissipating=False,
    max_intensity=300,
    point_radius=4)
fig.add_layer(heat_layer)
fig

Figure(layout=FigureLayout(height='420px'))

In [9]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [10]:
# 6.5.3
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [11]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
2,2,Butaritari,KI,2022-10-05 01:06:46,3.0707,172.7902,81.88,75,30,18.14
3,3,Caravelas,BR,2022-10-05 01:06:46,-17.7125,-39.2481,75.58,77,96,11.79
4,4,Vaini,TO,2022-10-05 01:06:46,-21.2000,-175.2000,77.32,76,100,3.74
7,7,San Cristobal,VE,2022-10-05 01:06:18,7.7669,-72.2250,75.38,97,100,2.01
8,8,Bloomingdale,US,2022-10-05 01:06:48,27.8936,-82.2404,75.85,77,0,9.22
9,9,Hilo,US,2022-10-05 01:03:34,19.7297,-155.0900,84.25,78,38,3.00
10,10,Mongo,TD,2022-10-05 01:06:48,12.1844,18.6930,75.63,70,42,6.17
12,12,Hithadhoo,MV,2022-10-05 01:06:49,-0.6000,73.0833,82.42,68,100,17.16
18,18,Atuona,PF,2022-10-05 01:06:51,-9.8000,-139.0333,77.09,67,73,21.36
20,20,Kushima,JP,2022-10-05 01:06:51,31.4583,131.2333,81.88,65,5,6.53

In [12]:
preferred_cities_df.count()

City_ID       164
City          164
Country       164
Date          164
Lat           164
Lng           164
Max Temp      164
Humidity      164
Cloudiness    164
Wind Speed    164
dtype: int64

In [13]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

             City Country  Max Temp      Lat       Lng Hotel Name
2      Butaritari      KI     81.88   3.0707  172.7902
3       Caravelas      BR     75.58 -17.7125  -39.2481
4           Vaini      TO     77.32 -21.2000 -175.2000
7   San Cristobal      VE     75.38   7.7669  -72.2250
8    Bloomingdale      US     75.85  27.8936  -82.2404
9            Hilo      US     84.25  19.7297 -155.0900
10          Mongo      TD     75.63  12.1844   18.6930
12      Hithadhoo      MV     82.42  -0.6000   73.0833
18         Atuona      PF     77.09  -9.8000 -139.0333
20        Kushima      JP     81.88  31.4583  131.2333

In [16]:
# 6.5.4
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

In [17]:
# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    # Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [18]:
hotel_df

,City,Country,Max Temp,Lat,Lng,Hotel Name
2,Butaritari,KI,81.88,3.0707,172.7902,Isles Sunset Lodge
3,Caravelas,BR,75.58,-17.7125,-39.2481,Pousada dos Navegantes
4,Vaini,TO,77.32,-21.2000,-175.2000,Keleti Beach Resort
7,San Cristobal,VE,75.38,7.7669,-72.2250,Pirineos
8,Bloomingdale,US,75.85,27.8936,-82.2404,Travel Club for Free
...,...,...,...,...,...,...
540,Tecoanapa,MX,80.11,16.5167,-98.7500,Hotel Manglares
549,Gouyave,GD,79.57,12.1646,-61.7296,Rumboat Retreat
553,Picos,BR,78.57,-7.0769,-41.4669,Entre Rios Hotel
558,Khanpur,PK,78.96,28.6453,70.6567,Ahmad Bartan store
565,Moctezuma,MX,77.31,29.8000,-109.6667,Hotel Lobohombo

In [19]:
# Add a heatmap of temperature for the vacation spots.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp, dissipating=False,
             max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [20]:
# Add a heatmap of temperature for the vacation spots and marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,
             dissipating=False, max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [ ]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""
# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [ ]:
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig